{% extends "layout.html" %}

{% block body %}
<section style="text-align: center">
    <h1>The Finder</h1>
        <div class="center">
            <form action="/movie.html" style="text-align: center">
                <button>
                    <span class="text">Find Movie</span>
                </button>
            </form>
            <form action="/anime.html">
                <button>
                    <span class="text">Find Anime</span>
                </button>
            </form>
        </div>
</section>



{% endblock %}
