{% extends "layout.html" %}

{% block body %}

<section style="text-align: center">
    <h1>Movie Finder</h1>
    <form action="/">
        <button style="min-width: 140px">
            <span class="text">Home</span>
        </button>
    </form>
</section>


<div class="wrapper">
    <form action="/result.html">
        <div class="left">
            <select class="round">
                <option>CSS SELECT arrow (round)</option>
                <option>No external background image</option>
                <option>No wrapper</option>
            </select>
        <br>
            <button>
                <span class="text">Give me Movies !</span>
            </button>
        </div>
    </form>

    <form action="/result.html">
        <div class="right">
            <select class="round">
                <option>CSS SELECT arrow (round)</option>
                <option>No external background image</option>
                <option>No wrapper</option>
            </select>
        <br>
            <button>
                <span class="text">Give me Movies !</span>
            </button>
        </div>
    </form>
</div>

{% endblock %}
