{% extends "layout.html" %}

{% block body %}

<section style="text-align: center">
    <h1>Movie Finder</h1>
    <form action="/">
        <button style="min-width: 140px">
            <span class="text">Home</span>
        </button>
    </form>
</section>

<section>
    <div class="custom-select" style="width:100px;">
        <select>
        <option value="0">Select Tag:</option>
        <option value="1">Test1</option>
        <option value="2">Test2</option>
        <option value="3">Test3</option>
        <option value="4">Test4</option>

        </select>
    </div>
</section>


<div class="center">
    Max 3 Tag !
    <form action="/result.html">
        <label class="cyberpunk-checkbox-label">
            <input type="checkbox" class="cyberpunk-checkbox">
            Check me
        </label>
        <label class="cyberpunk-checkbox-label">
                <input type="checkbox" class="cyberpunk-checkbox">
                Check me
        </label>
    <br>
        <button>
            <span class="text">Give me Movies !</span>
        </button>
    </form>
</div>


{% endblock %}
