{% extends "layout.html" %}

{% block body %}


<section style="text-align: center">
    <h1>The Finder</h1>
        <div class="center">
                <form action="/movie.html">
                    <button>
                        <span class="text">Movie Finder</span>
                    </button>
                </form>
                <br>
                <form action="/anime.html">
                    <button>
                        <span class="text">Anime Finder</span>
                    </button>
                </form>
        </div>
</section>




{% endblock %}
