{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in user_stocks %}
            <tr>
                <td class="text-start">{{ stock.symbol }}</td>
                <td class="text-end">{{ stock.shares }}</td>
                <td class="text-end">{{ stock.price }}</td>
                <td class="text-end">{{ stock.total }}</td>
                <td>
                    <form action="/buy" method="post">
                        <div class="mb-3">
                            <input autocomplete="off" min="1" name="shares" placeholder="Shares" type="number">
                        </div>
                        <button class="btn btn-primary" type="submit">Buy</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
            <td class="border-0 text-end">{{ user_cash }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
            <td class="border-0 w-bold text-end">{{ total_value }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}
