{% extends "layout.html" %}

{% block body %}
<section style="text-align: center">
    <h1>Find movie</h1>
    <form action="/" method="post">
        <input autocomplete="off" autofocus list="movie" name="movie_name" placeholder"Movie reference" type="text">
        <button class="btn btn-primary" type="submit">Find me a movie!</button>
        <datalist id="movie">
            {% for movie in list %}
            <option value="{{ movie.name }}"></option>
            {% endfor %}
        </datalist>
    </form>
</section>
<section style="text-align: center">
    <table class="table table-striped" align="center">
        <thead>
            <tr>
                <th>ID</th>
                <th>movie name</th>
                <th>rate</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in list %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.name }}</td>
                <td>{{ movie.rate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
